{% extends 'controlPanel/template.html' %}
{% load static %}
{% block title %}Dashboard | Gamesave{% endblock %}
{% block content %}
    <style>
        .statusBar {
            display: inline-block;
            width: 100%;
            height: 10px;
        }
    </style>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <a role="button" href="{% url 'server-new' %}" class="btn btn-primary mt-2">Nou servidor</a>
            </div>

            <div class="col-sm-9">
                <h3>Els meus servidors</h3>
                <a role="button" class="btn btn-primary mb-3" href="{% url 'update-servers' %}"><i class="fa-solid fa-rotate-right"></i></a>
                <div class="row row-cols-1 row-cols-md-3">
                    {% for server in servers %}
                        <div class="col mb-4">
                            <div class="card h-100" style="width: 18rem;">
                                <img src="{% static server.game.image %}" class="card-img-top"
                                     alt="{{ server.game.image }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ server.name }}</h5>
                                    <p class="card-text"></p>
                                    <a href="{% url 'server-edit' server.id %}" class="btn btn-primary">Detalls</a>
                                    {% if server.status == "Running" %}
                                        <div class="statusBar bg-success"></div>
                                    {% else %}
                                        <div class="statusBar bg-danger"></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}