{% extends 'controlPanel/template.html' %}
{% block title %}Nou servidor | Gamesave{% endblock %}
{% block content %}
    <div class="container col-sm-4">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <label for="game">Videojoc:</label>
            <select required class="form-select required" id="game" name="game">
                <option value selected>Selecciona un videojoc...</option>
                {% for game in games %}
                    <option value="{{ game.id }}">{{ game.name }}</option>
                {% endfor %}
            </select>
            <div class="mt-2">
                <a role="button" href="{% url 'dashboard' %}" class="btn btn-outline-secondary">Cancelar</a>
                <button class="btn btn-primary" type="submit">Crear servidor</button>
            </div>

        </form>
    </div>
{% endblock %}