{% extends 'controlPanel/template.html' %}
{% block title %}Ampliar Uptime | Gamesave{% endblock %}
{% block content %}
    <div class="container col-10 mt-2">
        <div class="row">
            <h3>Ampliar uptime</h3>
            <hr>
        </div>
        <div class="row">
            <div class="col-5">
                <form method="post" class="row">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="mt-2">
                        <a role="button" href="{% url 'server-edit' server.id %}" class="btn btn-outline-secondary">Cancelar</a>
                        <button class="btn btn-primary" type="submit">Confirmar</button>
                    </div>

                </form>
            </div>
            <div class="col-4 bg-light rounded p-3">
                <div class="row">
                    <div class="col">
                        <h4>CPU</h4>
                    </div>
                    <div class="col-3">
                        <h4 id="id_cores">{{ server.cores|floatformat }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>RAM</h4>
                    </div>
                    <div class="col-3">
                        <h4 id="id_ram">{{ server.ram|floatformat }}</h4>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h4>Total a pagar:</h4>
                    </div>
                    <div class="col-3">
                        <h4 id="id_total">0</h4>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h4>Balanç després de la compra:</h4>
                    </div>
                    <div class="col-3">
                        <br>
                        <h4 id="id_post_balance">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}