{% extends 'controlPanel/template.html' %}
{% block title %}Nou servidor | Gamesave{% endblock %}
{% block content %}
    <div class="container col-10 mt-2">
        <div class="row">
            <h3>Nou servidor</h3>
            <hr>
        </div>
        <div class="row">
            <div class="col-6">
                <form name="serverCreation" method="post" class="row">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            {{ form.name.errors }}
                            {{ form.name.label_tag }}
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form.cores.errors }}
                            {{ form.cores.label_tag }}
                            {{ form.cores }}
                        </div>
                        <div class="col">
                            {{ form.ram.errors }}
                            {{ form.ram.label_tag }}
                            {{ form.ram }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            {{ form.game.errors }}
                            {{ form.game.label_tag }}
                            {{ form.game }}
                        </div>
                    </div>

                    <div class="mt-2">
                        <a role="button" href="{% url 'dashboard' %}" class="btn btn-outline-secondary">Cancelar</a>

                    </div>

                </form>
                <button class="btn btn-primary" onclick="checkFields()">Crear servidor</button>
            </div>
            <div class="col-6 bg-light rounded p-3">
                <h4 id="HOCprice"></h4>
                <br>
                <h4 id="HOCbalanceNS"></h4>
            </div>
            <div class="col-12 bg-light rounded mt-5">
                <p>Aquest procés pot trigar uns quants minuts. Un moment ...</p>
            </div>
        </div>
    </div>
{% endblock %}