{% extends 'controlPanel/template.html' %}
{% block title %}Wallet | Gamesave{% endblock %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/web3@1.5.3/dist/web3.min.js"></script>
    <style>
        .balance-box {
            background-color: #f8f9fa;
            border: 1px solid #ced4da;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
        }

        .icon {
            font-size: 48px;
            color: #627eea;
        }
    </style>
    </head>
    <body>
    <div class="container mt-4">
        <div class="row">
            <div class="balance-box col-6">
                <i class="fab fa-ethereum icon"></i>
                <h3>Balance de Ethereum</h3>
                <p id="ETHbalance"></p>
            </div>
            <div class="balance-box col-6">
                {% load static %}
                <i class=""><img src="{% static 'logo/hostcoin.png' %}" width="48px"></i>
                <h3>Balance de Hostcoin</h3>
                <p id="HOCbalanceW"></p>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="balance-box col-12">
                <i class="fas fa-wallet icon"></i>
                <h3>Dirección de cartera: </h3>
                <p style="font-size: 30px" id="walletAddress"></p>
                <button onclick="getWalletAddress()">Obtenir direcció de cartera</button>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="balance-box col-12">
                <button onclick="buyTokens(1)">Comprar 1 HostCoin</button>
                <button onclick="buyTokens(100)">Comprar 100 HostCoin</button>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="balance-box col-12">
                <button onclick="spendHostCoins(1)">Gastar 1 HostCoin</button>

                <button onclick="buyTokens(1)">test 1 token no petasegurissim :)</button>

            </div>
        </div>
    </div>
{% endblock %}