{% extends 'controlPanel/template.html' %}
{% block title %}Wallet | Gamesave{% endblock %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/web3@1.5.3/dist/web3.min.js"></script>
    <style>
        .balance-box {
            background-color: #f8f9fa;
            border: 1px solid #ced4da;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
        }

        .icon {
            font-size: 48px;
            color: #627eea;
        }
    </style>
    </head>
    <body>
    <div class="container mt-4">
        <div class="row">
            <div class="balance-box col-6">
                <i class="fab fa-ethereum icon"></i>
                <h3>Balance de Ethereum</h3>
                <p id="ETHbalance"></p>
            </div>
            <div class="balance-box col-6">
                <i class="fab fa-ethereum icon"></i>
                <h3>Balance de Hostcoin</h3>
                <p id="HOCbalance"></p>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="balance-box col-12">
                <i class="fas fa-wallet icon"></i>
                <h3>Dirección de cartera: </h3>
                <p style="font-size: 30px" id="walletAddress"></p>
                <button onclick="getWalletAddress()">Obtener dirección de cartera</button>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="balance-box col-12">
                <button onclick="buyHostCoins()">Comprar HostCoins</button>
            </div>
        </div>
    </div>
    <button onclick="setER()">KEVINBOBO</button>
    <script>
        contractAddress = '0x9bd113f79D9bCdc27E06bDc5a08A27c274512Ee8'; // SmartContract TokenExchange1
        var walletAddress;

        //Actualitza tots els valors
        async function getWalletAddress() {
            // Comprueba si Metamask está instalado
            if (typeof window.ethereum !== 'undefined') {
                // Solicita al usuario el acceso a su cartera
                await window.ethereum.request({method: 'eth_requestAccounts'});
                // Obtiene la instancia de web3
                const web3 = new Web3(window.ethereum);
                // Obtiene la dirección de la cartera actual
                const accounts = await web3.eth.getAccounts();
                walletAddress = accounts[0];
                // Muestra la dirección en la página
                document.getElementById('walletAddress').textContent = `${walletAddress}`;
                // AAA
                getBalances(walletAddress);
            } else {
                // Metamask no está instalado
                alert('Por favor, instala Metamask para utilizar esta función.');
            }
        }

        //Agafa el valor the ETH i HostCoins, es crida des de getWalletAdress()
        function getBalances(walletAddress) {
            console.log("Funcio getBalances")

            const web3 = new Web3(window.ethereum);
            const tokenExchangeContract = new web3.eth.Contract(contractAbi, contractAddress);

            tokenExchangeContract.methods.balances(walletAddress).call((error, balance) => {
                if (error) {
                    console.error(error);
                } else {
                    console.log(`El saldo de HostCoin en la cartera ${walletAddress} es: ${balance}`);
                    document.getElementById('HOCbalance').textContent = `${balance} HOC`;
                }
            });

            web3.eth.getBalance(walletAddress)
                .then(balance => {
                    const ethBalance = web3.utils.fromWei(balance, 'ether');
                    console.log(`El saldo de Ethereum en la cartera ${walletAddress} es: ${ethBalance} ETH`);
                    document.getElementById('ETHbalance').textContent = `${ethBalance} ETH`;
                })
                .catch(error => {
                    console.error(error);
                });

        }

        // Comprar HostCoin
        function buyHostCoins() {
            console.log("Funcio compra HostCoins");
            const amountEth = 0.0058; //Cantitat de ETH

            var address = walletAddress

            const web3 = new Web3(window.ethereum);
            const tokenExchangeContract = new web3.eth.Contract(contractAbi, contractAddress);

            tokenExchangeContract.methods.buyTokens().send({
                from: address,
                value: web3.utils.toWei(String(amountEth), 'ether')
            })
                .on('transactionHash', (hash) => {
                    console.log('Transacción enviada', hash);
                })
                .on('confirmation', (confirmationNumber, receipt) => {
                    console.log('Confirmación recibida:', confirmationNumber);
                    getWalletAddress();
                })
                .on('error', (error) => {
                    console.error('Error en la transacción:', error);
                })
        }

        //exchange rate
        function setER() {
            const newRate = 172413; // Nuevo valor para la tasa de cambio

            var address = walletAddress

            const web3 = new Web3(window.ethereum);
            const tokenExchangeContract = new web3.eth.Contract(contractAbi, contractAddress);

            tokenExchangeContract.methods.setExchangeRate(newRate).send({
                from: address,
            })
                .then(() => {
                    console.log('Tasa de cambio actualizada correctamente.');
                })
                .catch(error => {
                    console.error('Error al actualizar la tasa de cambio:', error);
                });
        }

        contractAbi = [
            {
                "inputs": [],
                "name": "buyTokens",
                "outputs": [],
                "stateMutability": "payable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "newRate",
                        "type": "uint256"
                    }
                ],
                "name": "setExchangeRate",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "initialRate",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "nonpayable",
                "type": "constructor"
            },
            {
                "anonymous": false,
                "inputs": [
                    {
                        "indexed": false,
                        "internalType": "uint256",
                        "name": "newRate",
                        "type": "uint256"
                    }
                ],
                "name": "ExchangeRateUpdated",
                "type": "event"
            },
            {
                "anonymous": false,
                "inputs": [
                    {
                        "indexed": true,
                        "internalType": "address",
                        "name": "buyer",
                        "type": "address"
                    },
                    {
                        "indexed": false,
                        "internalType": "uint256",
                        "name": "amount",
                        "type": "uint256"
                    },
                    {
                        "indexed": false,
                        "internalType": "uint256",
                        "name": "cost",
                        "type": "uint256"
                    }
                ],
                "name": "TokensPurchased",
                "type": "event"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "",
                        "type": "address"
                    }
                ],
                "name": "balances",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "exchangeRate",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "owner",
                "outputs": [
                    {
                        "internalType": "address",
                        "name": "",
                        "type": "address"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            }
        ]
    </script>
{% endblock %}